@import '../app/pages/homePage/homePage.style.scss';
@import '../app/pages/loginPage/loginPage.style.scss';
@import '../app/pages/loginPage/loginPage.style.scss';

@import '../app/organisms/menuList/menuList.style.scss';
@import '../app/organisms/collections/collection.style.scss';
@import '../app/organisms/signIn/signIn.style.scss';
@import '../app/organisms/signUp/signUp.style.scss';

@import '../app/molecules/menuItem/menuItem.style.scss';
@import '../app/molecules/collectionItem/collectionItem.style.scss';
@import '../app/molecules/header/header.style.scss';
@import '../app/molecules/form-input/form-input.style.scss';

@import '../app/atoms/custom-button/custom-button.style.scss';

body {
    font-family: 'Xanh Mono';
    //background: #fbe780;
  }

  a{
    text-decoration: none;
    color: black;
  }

  * {
    box-sizing: border-box;
  }