@import '../app/molecules/menuItem/menuItem.style.scss';
@import '../app/oraganisms/menuList/menuList.style.scss';
@import '../app/pages/homePage/homePage.style.scss';

body {
    font-family: 'Xanh Mono';
    background: #fbe780;
  }